.team-info {

  padding: 30px;
  max-width: 90%;
  margin: 40px auto;
  background-color: white;
  border-radius: 18px;
  border: 1px solid #EB8028;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.team-info h3 {
  text-align: center;
  background-color: #356d0d; 
  color: white;
  padding: 15px 20px; 
  margin: 0;
  font-size: 1.6em; 
  font-weight: bold;
  line-height: 1.3;
}


.team-members {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.team-member {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding: 20px;
  width: 45%; 
  box-sizing: border-box;
  transition: transform 0.2s ease;
  text-align: justify;
  hyphens: none;

}

.team-member:hover {
  transform: translateY(-4px);
}

.team-member h4 {
  color: #333;
  margin-bottom: 8px;
  line-height: 1.3;
  
}

.team-member p {
  font-size: 1rem; 
  color: #2b2a2a;   
  font-weight: 400; 
  line-height: 1.6;
  margin-bottom: 5px; 
  word-break: keep-all;
  hyphens: none;
}

.team-member p strong {
  font-weight: 600px; 
  color: #1a1a1a;   
}



.button__container {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
  margin-bottom: 40px; 
}

.btn {
  background-color: #356d0d; 
  color: #fdfdfd; 
  padding: 10px 15px; 
  text-decoration: none;
  border: none;
  border-radius: 8px;
  font-size: 2rem; 
  line-height: 1; 
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  
}

.btn:hover {
  background-color: #5da22c; 
  cursor: pointer;
}


/* --- Responsive Design --- */
@media (max-width: 768px) {
  .team-info {
    margin: 1px 1px 1px 1px; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team-info h3 {
    font-size: 1.4em;
    padding: 12px 15px;
  }

  .team-members {
    width: 90%; 
    gap: 2rem;
  
  }

  .team-member h4 {
    font-size: 1.2em;
  }

  .team-member p {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.8rem;
    padding: 8px 12px;
  }
}

/* Para móviles pequeños */
@media (max-width: 480px) {
  .team-info {
    margin: 5px 5px 0;
    border-radius: 12px;
  }

  .team-info h3 {
    font-size: 1.2em;
    padding: 10px 10px;
  }

   .team-members {
    padding: 5px 5px 5px 5px;
    gap: 20px;
    justify-content: center;
    
  }

  .team-member {
    width: 100%; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
   
  }

  .team-member h4 {
    font-size: 0.6em;
  }

  .team-member p {
    font-size: 0.95rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 6px 10px;
  }
}