.team-info {
  max-width: 90%;
  margin: 40px auto;
  background-color: var(--bg-color);
  border-radius: 18px;
  box-shadow: 0 4px 10px var(--card-shadow);
  color: var(--text-color);
}

.team-info h3 {
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  padding: 15px;
  margin: 0;
  font-size: 1.6em;
}

.team-members {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.team-member-container {
  perspective: 100%;
  width: 280px;
  height: 640px;
}

.team-member {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.team-member-container:hover .team-member {
  transform: rotateY(180deg);
}

.team-member-front,
.team-member-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-back {
  background-color: var(--accent-color);
  color: white;
  transform: rotateY(180deg);
}

.team-member__img {
  width: 100%;
  border-radius: 60%;
  margin-bottom: 15px;
}

.team-member h5 {
  margin-bottom: 8px;
  font-size: 1.1em;
}

.team-member-back .description {
  color: white;
  font-size: 0.85rem;
  text-align: justify;
  overflow-y: auto;
  flex: 1;
}

.linkedin-container {
  text-align: center;
  margin-top: 10px;
}

.button__container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 2rem;
  box-shadow: 0 4px 6px var(--card-shadow);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--btn-hover);
}

@media (max-width: 768px) {
  .team-member-container {
    width: 90%;
    height: 520px;
  }

  .team-member__img {
    width: 100px;
  }

  .btn {
    font-size: 1.5rem;
  }
}
