@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  /* Colores base */
  --bg-color: #f9f9f9;
  --text-color: #000000;

  /* Colores primarios */
  --color-primary: #356d0d;
  --color-primary-alt: #5a9e37;
  --color-primary-hover: #5da22c;

  /* Colores de fondo y texto */
  --color-bg-light: #ffffff;
  --color-text-default: #1a1a1a;

  /* Grises */
  --color-light-gray: #f4f4f4;
  --color-mid-gray: #ccc;
  --color-border: #a8a8a8;
  --color-gray-text: #000000;

  /* Sombra y fondo de tarjeta */
  --shadow-light: rgba(0, 0, 0, 0.1);
  --color-card-bg: #f9f9f9;

  /* Verde */
  --color-green: #356d0d;
  --color-hover-green: #7ac943;

  /* Tipografía */
  --font-main: 'Montserrat', sans-serif;
}

body.dark-mode {
  --bg-color: #2c2c2c;
  --text-color: #e2e2e2;
  --color-primary: #7ac943;
  --color-primary-hover: #a3ea63;
  --shadow-light: rgba(255, 255, 255, 0.1);
}
