:root {
  --bg-color: #f9f9f9;
  --text-color: #000000;
  --accent-color: #2E7D32;
  --btn-hover: #5da22c;
  --border-color: #5a9e37;
  --card-shadow: rgba(0, 0, 0, 0.1);

  --color-bg-light: #ffffff;
  --color-primary: #2E7D32;
  --color-primary-alt: #5a9e37;
  --color-primary-hover: #5da22c;

  --color-text-light: #2b2a2a;
  --color-text-dark: #e0e0e0;
  --color-text-default: #1a1a1a;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #2E7D32;
  --color-dark-gray: #2c2c2c;
  --color-light-gray: #f4f4f4;
  --color-mid-gray: #ccc;
  --color-gray-text: #000000;
  --color-border: #a8a8a8;
  --color-overlay: rgba(0, 0, 0, 0.6);
  --color-card-bg: #f9f9f9;
  --color-hover-green: #7ac943;
  --color-dark-text: #2b2a2a;
  --color-footer-bg: #2E7D32;
  --color-navbar-hover: #555;
  --color-link: #333;
  --color-link-visited: #333;
  --color-modal-text: #222;
  --color-modal-close: #aaa;
  --color-legal-border: #ffffff;
  --color-legal-text: #ffffff;

  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-soft: rgba(0, 0, 0, 0.08);

  --font-main: 'Montserrat', sans-serif;
}

body.dark-mode {
  --bg-color: #2c2c2c;
  --text-color: #e2e2e2;
  --accent-color: #7ac943;
  --btn-hover: #a3ea63;
  --border-color: #4d9b1a;
  --card-shadow: rgba(255, 255, 255, 0.1);

  --font-main: 'Montserrat', sans-serif;
}
