{% extends "layout.html" %}

{% block title %}Emisiones por sector{% endblock %}

{% block header_title %}Datos de emisiones por sector{% endblock %}
{% block header_subtitle %}Seleccione un sector para ver sus emisiones{% endblock %}

{% block content %}
  <div class="container">
    <h1>Emisiones de Gases de Efecto Invernadero en Europa</h1>

    <div class="grid">
      <div class="card">
        <p class="label">Total de Registros</p>
        <p id="total-records" class="value">Cargando...</p>
      </div>
      <div class="card">
        <p class="label">Total de Países</p>
        <p id="total-countries" class="value">Cargando...</p>
      </div>
      <div class="card">
        <p class="label">Año Mínimo</p>
        <p id="min-year" class="value">Cargando...</p>
      </div>
      <div class="card">
        <p class="label">Año Máximo</p>
        <p id="max-year" class="value">Cargando...</p>
      </div>
    </div>

    <div class="selector">
      <h2>Seleccionar sector de Europa</h2>
      <select id="sector-select" disabled>
        <option value="">Seleccione un sector</option>
        <option value="Total emissions (UNFCCC)">Emisiones totales</option>
        <option value="Total net emissions (UNFCCC)">Total de emisiones netas</option>
        <option value="4.H - Other LULUCF">LULUCF (Uso de la tierra, cambio de uso de la tierra y selvicultura)</option>
        <option value="1 - Energy">Energía</option>
        <option value="1.A.3 - Transport">Transporte</option>
        <option value="3 - Agriculture">Agricultura</option>
        <option value="2 - Industrial Processes and Product Use">Procesos Industriales</option>
      </select>
    </div>

      <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
    <div class="chart-container">
      <div id="chart"></div>
    </div>
  </div>

  <div class="button__container">
    <a href="/" class="btn" title="Volver">
      ⬅ 
    </a>

  <script src="/static/data_script/sector_data.js"></script>

{% endblock %}
