{% extends "layout.html" %}

{% block title %}Sobre Nosotros{% endblock %}

{% block header_title %}Acerca del equipo de trabajo{% endblock %}
{% block header_subtitle %}Conoce a las personas detrás del proyecto{% endblock %}

{% block content %}

<main>
  <section class="team-info"> 
    <h3>Sobre Nosotros</h3> 

    <div class="team-members">   
      <div class="team-member">
        <img src="static/img/mercedes.png" alt="Mercedes" class="team-member__img" />
        <h4>Mercedes</h4>
        <p><strong>Rol:</strong>Ingeniera Industrial y Civil</p>
        <p><strong>Descripción:</strong>Ingeniero Industrial y Civil con una formación internacional, graduada por la Universidad Politécnica de Madrid y el Royal Institute of Technology (KTH) de Estocolmo. Con más de 15 años de experiencia en el sector energético, he forjado una carrera dedicada a la optimización de carteras de generación, el análisis de mercados eléctricos y la planificación estratégica. Mi enfoque se distingue por integrar una rigurosa formación técnica con una visión analítica avanzada, permitiéndome abordar los desafíos del sector energético con una perspectiva renovada. Especializada en la transición energética y la descarbonización, mi trabajo no solo se orienta a la eficiencia y la sostenibilidad, sino a liderar soluciones innovadoras que transformen el futuro de la energía, siempre desde una mirada estratégica y sostenible.</p>
      </div>

      <div class="team-member">
        <img src="static/img/lucia.png" width="250px" align-item="center" alt="Ana Lucía Silva Córdoba" class="team-member__img" />
        <h4>Ana Lucía Silva Córdoba</h4> 
        <p><strong>Rol:</strong> Desarrolladora Fullstack. Scrum Master.</p>
        <p><strong>Descripción:</strong> Desarrolladora Full Stack con base en matemáticas, formación docente y un perfil autodidacta, curios ay creativa. Mi transición desde el mundo académico al tecnológico ha sido impulsada por la pasión por resolver problemas, aprender de forma constante y construir soluciones que conecten a las personas con la tecnología. Actualmente me encuentro ampliando mi enfoque hacia el análisis de datos. Busco fusionar mis conocimientos en educación y matemáticas con mis habilidades en desarrollo y análisis de datos, para aportar valor en proyectos que requieran tanto una mirada técnica como estratégica. </p>
    </div>

      <div class="team-member">
        <img src="static/img/gerard.png" alt="Gerard" class="team-member__img" />
        <h4>Gerard</h4>
        <p><strong>Rol:</strong> Data Analyst de Clientes y Éxito del Cliente. </p>
        <p><strong>Descripción:</strong> Customer Success Manager con una sólida trayectoria en la gestión de cuentas y proyectos en los sectores educativo y tecnológico, comprometido con la excelencia en cada interacción. Especializado en la construcción de relaciones institucionales y el desarrollo de clientes, mi enfoque se basa en la creación de soluciones personalizadas que garanticen el éxito y la satisfacción a largo plazo. Multilingüe, con fluidez en catalán, castellano, inglés y francés, cuento con una formación en Relaciones Internacionales y Traducción, lo que me permite abordar retos globales con una perspectiva intercultural y estratégica. Mi pasión por la innovación y el servicio al cliente me impulsa a ser un referente en la creación de relaciones duraderas, transformando la experiencia del cliente en una verdadera ventaja competitiva.</p>
      </div>

      <div class="team-member">
        <img src="static/img/carina.png" alt="Carina Jimenez" class="team-member__img" />
        <h4></h4>
        <p><strong>Rol:</strong> Responsable de Optimización de Procesos con Datos</p>
        <p><strong>Descripción:</strong> Profesional con una sólida trayectoria en el ámbito administrativo, especializada en la gestión de procesos y la optimización de recursos. A lo largo de mi carrera, he impulsado la implementación de estrategias orientadas a mejorar la eficiencia operativa y la productividad en diversos entornos organizacionales, con un enfoque particular en instituciones educativas del sector público. Mi compromiso con la mejora continua y la gestión estratégica me ha permitido contribuir de manera significativa a la optimización de recursos y a la consecución de objetivos a largo plazo, garantizando siempre un impacto positivo en la eficiencia y el rendimiento global de las organizaciones.</p>
      </div>

    </div> 

  </section> 

  
  <div class="button__container">
    <a href="/" class="btn" title="Volver">
      ⬅ 
    </a>
  </div>
</main>
{% endblock %}