{% extends "layout.html" %}

{% block title %}Sobre Nosotros{% endblock %}

{% block header_title %}Acerca del equipo de trabajo{% endblock %}
{% block header_subtitle %}Conoce a las personas detrás del proyecto{% endblock %}

{% block content %}

<main>
  <section class="team-info"> 
    <h3>Sobre Nosotros</h3> 

    <div class="team-members">   
      
      <!-- Mercedes -->
      <div class="team-member-container">
        <div class="team-member">
          <div class="team-member-front">
            <img src="static/img/mercedes.png" alt="Mercedes" class="team-member__img" />
            <h5>Mercedes Sánchez</h5>
            <p class="role"> Ingeniera Industrial y Civil</p>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/mercedes-sanchez" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            <div class="hover-indicator">Pasa el ratón para más info</div>
          </div>
          <div class="team-member-back">
            <h5>Mercedes Sánchez</h5>
            <p class="role">Ingeniera Industrial y Civil</p>
            <div class="description">
              <strong>Descripción:</strong> Ingeniera Industrial y Civil formada en la Universidad Politécnica de Madrid y el KTH de Estocolmo, con 15 años de experiencia en el sector energético. Especialista en optimización de carteras de generación, análisis de mercados eléctricos y planificación estratégica. Enfocada en la sostenibilidad y la transición energética, combina una sólida base técnica con visión analítica para liderar soluciones innovadoras. Su trabajo es impulsar una transformación real en el uso de la energía,  desde una perspectiva estratégica y de impacto.
            </div>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/mercedes-sanchez" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Ana Lucía -->
      <div class="team-member-container">
        <div class="team-member">
          <div class="team-member-front">
            <img src="static/img/lucia.png" alt="Ana Lucía Silva Córdoba" class="team-member__img" />
            <h5>Ana Lucía Silva Córdoba</h5>
            <p class="role">Desarrolladora Fullstack. Scrum Master.</p>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/ana-lucia-silva-cordoba" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            <div class="hover-indicator">Pasa el ratón para más info</div>
          </div>
          <div class="team-member-back">
            <h5>Ana Lucía Silva Córdoba</h5>
            <p class="role">Desarrolladora Fullstack. Scrum Master.</p>
            <div class="description">
              <strong>Descripción:</strong> Desarrolladora Full Stack con grado en matemáticas y experiencia docente de 20 años. Apasionada por el aprendizaje constante, la resolución de problemas y la creación de soluciones tecnológicas. Su perfil combina habilidades técnicas con pensamiento crítico y creativo. Se especializa en análisis de datos, buscando unir sus conocimientos en educación, matemáticas y desarrollo para generar impacto en proyectos estratégicos. Visualiza la tecnología como medio de transformación social y educativa.
            </div>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/ana-lucia-silva-cordoba" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Gerard -->
      <div class="team-member-container">
        <div class="team-member">
          <div class="team-member-front">
            <img src="static/img/gerard.png" alt="Gerard" class="team-member__img" />
            <h5>Gerard Alarcón Montserrat</h5>
            <p class="role">Data Analyst de Clientes y Éxito del Cliente.</p>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/gerard-alarc%C3%B3n-montserrat-a0845735/" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            <div class="hover-indicator">Pasa el ratón para más info</div>
          </div>
          <div class="team-member-back">
            <h5>Gerard Alarcón Montserrat</h5>
            <p class="role"> Data Analyst de Clientes y Éxito del Cliente.</p>
            <div class="description">
              <strong>Descripción:</strong> Data Analyst y Customer Success Manager con experiencia en sectores educativos y tecnológicos. Especializado en la gestión de cuentas y relaciones institucionales, enfocado en crear soluciones personalizadas para clientes. Multilingüe (catalán, español, inglés y francés), con formación en Relaciones Internacionales y Traducción. Su perfil destaca por la capacidad de generar experiencias positivas y sostenibles en clientes, aportando una perspectiva intercultural y estratégica en cada proyecto.
            </div>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/gerard-alarc%C3%B3n-montserrat-a0845735/" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Carina -->
      <div class="team-member-container">
        <div class="team-member">
          <div class="team-member-front">
            <img src="static/img/carina.png" alt="Carina Jímenez" class="team-member__img" />
            <h5>Carina Jiménez</h5>
            <p class="role">Responsable de Optimización de Procesos con Datos</p>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/carina" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            
            <div class="hover-indicator">Pasa el ratón para más info</div>
          </div>
          <div class="team-member-back">
            <h5>Carina Jiménez</h5>
            <p class="role">Responsable de Optimización de Procesos con Datos</p>
            <div class="description">
              <strong>Descripción:</strong> Profesional especializada en gestión administrativa y optimización de procesos en entornos educativos y del sector público. A lo largo de su trayectoria, ha liderado la implementación de estrategias que mejoran la eficiencia y el uso de recursos. Su enfoque se basa en la mejora continua, con una visión orientada a la productividad, la sostenibilidad y el cumplimiento de objetivos organizacionales. Su compromiso y liderazgo han sido clave para impulsar transformaciones operativas de impacto.
            </div>
            <div class="linkedin-container">
              <a href="https://www.linkedin.com/in/carina" target="_blank" class="linkedin-link">
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div> 

  </section> 

  
  <div class="button__container">
    <a href="/" class="btn" title="Volver">
      ⬅ 
    </a>
  </div>
</main>
{% endblock %}