{% extends "layout.html" %}

{% block title %}countries details{% endblock %}

{% block content %}
    <section class="country-info">
      <h3>Información relevante de {{ country.name }}</h3>
      <div class="country-details">
        <p><strong>Emisiones de CO₂:</strong> {{ country.emissions }} toneladas</p>
        <p><strong>Situación ambiental:</strong> Aquí va la información relevante sobre el país.</p>
        <p><strong>Iniciativas de sostenibilidad:</strong> Detalles sobre proyectos y medidas ambientales en {{ country.name }}.</p>
      </div>

      <!-- Botón de regreso -->
    </section>
  </main>
  {% endblock %}
