{% extends "layout.html" %}

{% block title %}Contacto{% endblock %}

{% block header_title %}Formulario de contacto{% endblock %}
{% block header_subtitle %}CContáctanos{% endblock %}
{% block content %}

<form action="{{ url_for('submit_form') }}" method="post" class="form">
  <div class="user">
    <ul class="user-info">
        <li class="user-info__item">
            <label for="name">Su nombre</label>
            <input type="text" name="name" id="name" placeholder="Introduzca su nombre completo" required>
        </li>
        <li class="user-info__item">
            <label for="email">Su correo electrónico</label>
            <input type="email" name="email" id="email" placeholder="Introduzca su correo electrónico" required>
        </li>
    </ul>

    <ul class="address-date">
        <li class="user-info__item">
            <label for="address">Especifique su dirección</label>
            <input type="text" name="address" id="address" placeholder="Su dirección" required>
        </li>
        <li class="user-info__item">
            <label for="message">Mensaje</label>
            <textarea name="message" id="message" rows="5" placeholder="Escriba su mensaje aquí" required></textarea>
        </li>
    </ul>
  </div>
  <button class="button" type="submit">Listo</button>
</form>

{% endblock %}
