{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<main>
  <h3 class="main__title">Selecciona un país</h3>
  <ul class="list">
    {% for country in countries %}
    <li class="list__item">
      <a href="/country/{{ country.code }}">
        <img class="item__img" src="{{ url_for('static', filename='img/' + country.flag) }}" alt="{{ country.name }}">
        <br>
        <div class="card__content">
          <span class="country__name">{{ country['name'] }}</span>
<!-- <span class="country__co2">Emisiones: {{ country['emissions'] }} toneladas CO₂</span>

          <span class="country__co2">Emisiones: {{ country.emissions }} toneladas CO₂</span>
        </div> -->
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
