<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EU Emissions{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/country_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eda_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
    <script src="project.js" defer></script>

</head>
<body>
    <nav class="navbar">
        <div class="navbar__right">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/favicon.png') }}" alt="Inicio" style="height: 70px;">
            </a>
        </div>
        <div class="navbar__left">
            <button class="menu-toggle">☰</button> 
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="{{ url_for('index', lang=request.args.get('lang', 'es')) }}" class="menu">
                        Inicio <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('general_data') }}">Datos generales</a></li>
                        <li><a href="{{ url_for('country_data') }}">Datos por país</a></li>
                        <li><a href="{{ url_for('sector_data') }}">EDA</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('about') }}" class="menu">Sobre Nosotros</a></li>
                <li><a href="{{ url_for('project') }}" class="menu">Acerca del proyecto</a></li>
                <li><a href="{{ url_for('form') }}" class="menu">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div class="header__text">
            <h1>{% block page_header_title %}Cumplimiento Climático de la UE{% endblock %}</h1>
        </div>
        <div>
            <p class="paragraph">{% block page_header_subtitle %}Tendencias y Desafíos en la Reducción de Emisiones{% endblock %}</p>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__team">           
            <ul class="legal">
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
            </ul>
        </div>
        <br>
        <a href="https://github.com/alusilcof5/eu_emisions.git" target="_blank">
            <i class="fab fa-github"></i> Ver Código Fuente en GitHub
        </a>
    </footer>

    <!-- Modales -->
    <div id="privacyModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="privacyModal">&times;</span> 
            <h5>Política de Privacidad</h5>
            <p class="paragraph">En EU Emissions valoramos tu privacidad...</p>
        </div>
    </div>
    <div id="termsModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="termsModal">&times;</span>
            <h5>Términos y Condiciones</h5>
            <p class="paragraph">El sitio web EU Emissions ofrece información educativa...</p>
        </div>
    </div>

    <!-- Chatbot -->
    <div class="chatbot-container">
        <script async type="module" src="https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js"></script>
        <zapier-interfaces-chatbot-embed is-popup="true" chatbot-id="cmctsamkq0009jx6eq5pbe4to"></zapier-interfaces-chatbot-embed>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
        
       
    

    {% endblock %}
</body>
</html>
